@charset "UTF-8";
html {
    font-size: 200%;
}

.big-bg {
    background-image: url(../images/bg.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: flex;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
    justify-content: space-between;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav a {
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

.main-nav a:hover {
    color: #728742;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.25rem;
    margin-top: 18px;
}
