@charset "UTF-8";
html {
    font-size: 100%;
}

.big-bg {
    background-image: url(../images/bg.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center top;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: block;
    font-size: 1.825rem;
    text-transform: uppercase;
    margin-top: 70px;
    list-style: none;
    margin-left: 5%;
}

.main-nav li {
    margin-left: 36px;
}

.main-nav a {
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

.main-nav a:hover {
    color: #728742;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.825rem;
    margin-top: 24px;
}
/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    margin-top: 24px;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 8px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
/* メニューのデザイン*/
.nav_content {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    transition: .5s;
    padding-top: 20px;
    background: #dddd;
  }
  
  /* メニュー黒ポチを消す */
  .main-nav {
    list-style: none;
  }
  
/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    left: 80%;
    margin: 0 0 0 auto;
  }