@charset "UTF-8";
html {
    font-size: 200%;
}

.big-bg {
    background-image: url(../images/profile-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 40px;
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: block;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 100px;
    list-style: none;
    margin-left: 5%;
}

.main-nav li {
    margin-left: 36px;
    margin-right: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.main-nav a {
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    display: block;
}

.main-nav a:hover {
    color: #9f385b;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.825rem;
    margin-top: 18px;
}

.page-title {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    margin-top: 30px;
    font-size: 1.25rem;
}

footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    font-size: 0.75rem;
}

.fadeinfirst {
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 2s;
    margin-top: 30px;
    text-decoration: underline;
}

.fadeinsecond {
    font-size: 1.00rem;
    color: gray;
    opacity: 0;
    transition: opacity 5s;
    margin-top: 20px;
}

.fadeinthird {
    font-size: 1.00rem;
    opacity: 0;
    transition: opacity 6s;
    margin-top: 5px;
}

.fadeinimg {
    height: 300px;
    width: auto;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 5s;
}

.content {
    list-style-type: none;
    height: auto;
    text-align: center;
}

.content .wrapper {
    text-align: center;
}

.centered-container {
    display: flex;        /* Flexboxを利用 */
    justify-content: center;  /* 水平方向の中央揃え */
    align-items: center;      /* 垂直方向の中央揃え */
    margin: 30px;
}

.SNS {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 5s;
}

.SNS a {
    margin-right: 10px;  /* 画像の間に少しスペースを追加 */
    height: 60px;
    width: 60px;
}

.SNS a:last-child {
    margin-right: 0;    /* 最後のアイテムの右マージンを0にする */
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    margin-top: 50px;
    right: 10%;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 9px;
    width: 75px;
    border-radius: 9px;
    background: whitesmoke;
    transition: 0.5s;
    position: absolute;
    box-shadow: 0px 0px 0px 1px #333;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 24px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 24px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
    background: whitesmoke;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
    background: whitesmoke;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0);
  }
    
/* メニューのデザイン*/
.nav_content {
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    transition: .5s;
    padding-top: 40px;
    background: #333;
  }
  
  /* メニュー黒ポチを消す */
  .main-nav {
    list-style: none;
  }
  
/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    left: 65%;
    margin: 0 0 0 auto;
  }