@charset "UTF-8";
html {
    font-size: 100%;
}

.big-bg {
    background-image: url(../images/profile-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 40px;
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: flex;
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-top: 25px;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav a {
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
}

.main-nav a:hover {
    color: #9f385b;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.25rem;
    margin-top: 18px;
}

.page-title {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    margin-top: 18px;
    font-size: 1.25rem;
}

footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    font-size: 0.75rem;
}

.fadeinfirst {
    font-size: 1.00rem;
    opacity: 0;
    transition: opacity 2s;
    margin-top: 30px;
    text-decoration: underline;
}

.fadeinsecond {
    font-size: 0.85rem;
    color: gray;
    opacity: 0;
    transition: opacity 5s;
    margin-top: 20px;
}

.fadeinthird {
    font-size: 0.85rem;
    opacity: 0;
    transition: opacity 6s;
    margin-top: 5px;
}

.fadeinimg {
    height: 150px;
    width: auto;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 5s;
}

.content {
    list-style-type: none;
    height: auto;
    text-align: center;
}

.content .wrapper {
    text-align: center;
}

.centered-container {
    display: flex;        /* Flexboxを利用 */
    justify-content: center;  /* 水平方向の中央揃え */
    align-items: center;      /* 垂直方向の中央揃え */
    margin: 30px;
}

.SNS {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 5s;
}

.SNS a {
    margin-right: 10px;  /* 画像の間に少しスペースを追加 */
    height: 35px;
    width: 35px;
}

.SNS a:last-child {
    margin-right: 0;    /* 最後のアイテムの右マージンを0にする */
}