@charset "UTF-8";
html {
    font-size: 200%;
}

.big-bg {
    background-image: url(../images/article-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 40px;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: block;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
    margin-left: 5%;
}

.main-nav li {
    margin-left: 36px;
    margin-right: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.main-nav a {
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
    display: block;
}

.main-nav a:hover {
    color: #728742;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.825rem;
    margin-top: 18px;
}

.page-title {
    text-align: center;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
    margin-top: 30px;
    font-size: 1.25rem;
}

footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    font-size: 0.75rem;
}

article {
    width: 70%;
}

article {
    width: 100%;
}

aside {
    width: 25%;
}

.article-contents {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.guide {
    color: black;
    font-size: 0.95rem;
}

.post-title {
    font-size: 1.25rem;
    margin-right: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.post-content {
    margin-right: 40px;
    font-size: 1.00rem;
}

article p {
    margin-bottom: 0.75rem;
}

.sub-title {
    font-size: 0.75rem;
    padding: 0 8px 8px;
    font-weight: normal;
    border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
    display: none;
}

.sub-menu {
    margin-bottom: 30px;
    list-style: none;
    font-size: 0.75rem;
    display: none;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
    display: none;
}

.sub-menu a {
    color: black;
    padding: 5px;
    display: block;
    display: none;
}

.sub-title a:hover {
    color: #9f385b;
    display: none;
}

/* チェックボックスを非表示にする */
.drawer_hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer_open {
    display: flex;
    height: 1.25rem;
    width: 1.25rem;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
    margin-top: 50px;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer_open span,
  .drawer_open span:before,
  .drawer_open span:after {
    content: '';
    display: block;
    height: 9px;
    width: 75px;
    border-radius: 9px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線の一番上の棒の位置調整 */
  .drawer_open span:before {
    bottom: 24px;
  }
  
  /* 三本線の一番下の棒の位置調整 */
  .drawer_open span:after {
    top: 24px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer_input:checked ~ .drawer_open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer_input:checked ~ .drawer_open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer_input:checked ~ .drawer_open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
/* メニューのデザイン*/
.nav_content {
    width: 35%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 100%; /* メニューを画面の外に飛ばす */
    z-index: 99;
    transition: .5s;
    padding-top: 40px;
    background: #dddd;
  }
  
  /* メニュー黒ポチを消す */
  .main-nav {
    list-style: none;
  }
  
/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
    left: 65%;
    margin: 0 0 0 auto;
  }