@charset "UTF-8";
html {
    font-size: 100%;
}

.big-bg {
    background-image: url(../images/article-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 40px;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: flex;
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-top: 25px;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav a {
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

.main-nav a:hover {
    color: #9f385b;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.25rem;
    margin-top: 18px;
}

.page-title {
    text-align: center;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
    margin-top: 18px;
    font-size: 1.25rem;
}

footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    font-size: 0.75rem;
}

article {
    width: 70%;
}

article {
    width: 100%;
}

aside {
    width: 25%;
}

.article-contents {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.post-title {
    font-size: 0.9rem;
    margin-right: 30px;
    margin-bottom: 15px;
    text-decoration: underline;
}

.post-content {
    margin-right: 40px;
    font-size: 0.75rem;
}

article p {
    margin-bottom: 0.75rem;
}

.sub-title {
    font-size: 0.75rem;
    padding: 0 8px 8px;
    font-weight: normal;
    border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
    display: none;
}

.sub-menu {
    margin-bottom: 30px;
    list-style: none;
    font-size: 0.75rem;
    display: none;
}

.sub-menu li {
    border-bottom: 1px #ddd solid;
    display: none;
}

.sub-menu a {
    color: black;
    padding: 5px;
    display: block;
    display: none;
}

.sub-title a:hover {
    color: #9f385b;
    display: none;
}