@charset "UTF-8";
html {
    font-size: 200%;
}

.big-bg {
    background-image: url(../images/article-bg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-bottom: 40px;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

body {
    font-family: 'Zen Old Mincho', serif;
    line-height: 1.7;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.main-nav {
    display: flex;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-top: 40px;
    list-style: none;
}

.main-nav li {
    margin-left: 10px;
}

.main-nav a {
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
}

.main-nav a:hover {
    color: #9f385b;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 4%
}

.logo {
    font-size: 1.25rem;
    margin-top: 18px;
}

.page-title {
    text-align: center;
    color: black;
    text-shadow: -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff, -1px -1px 0 #fff;
    margin-top: 30px;
    font-size: 1.25rem;
}

footer {
    background: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    color: #fff;
    text-shadow: -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black, -1px -1px 0 black;
    font-size: 0.75rem;
}

.thum_box {
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    margin-top: 25px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px #999;
}

.thum_box a:hover {
    color: #9f385b;
}

.thum_box img {
    display: none;
    height: 60px;
    width: fit-content;
    margin-bottom: 20px;
}

.text_date {
    color: #999;
    font-size: 1.00rem;
}

.titleofarticle {
    font-size: 1.25rem;
    color: #fff;
    background-color: black;
	height: 60px;
}

.titleofarticle a:hover {
    color: #728742;
}

.text_excerpt {
    font-size: 1.0rem;
}

.text_content {
    list-style: none;
    margin: 30px;
}

.container h1 {
    font-size: 1.25rem;
    padding: 0 8px 8px;
    border-bottom: 1.5px black solid;
    font-weight: normal;
    margin-left: 80px;
    margin-right: 80px;
}
